<ng-template #itemTemplate let-item="item" let-onCollapseExpand="onCollapseExpand" let-onCheckedChange="onCheckedChange">
                <i *ngIf="item.children" (click)="onCollapseExpand()" aria-hidden="true" class="fa" [class.fa-caret-right]="item.collapsed"
                [class.fa-caret-down]="!item.collapsed" style="cursor: pointer;"></i>
                &nbsp;
                    <div >
                            <label class="form-check-label">
                                <div *ngIf="item.children" [class.text-primary]="item.children">{{item.text}}</div> <i *ngIf="item.children" class="fa fa-plus-circle pull-right" style="cursor: pointer;" title="Ajouter une exigence" (click)="updateReq(item)" data-toggle="modal" data-target="#addReq"></i> 
                                <div *ngIf="!item.children" style="cursor: pointer;" (click)="item.checked = !item.checked; onCheckedChange()" [class.hidden]="item.text === ''" [class.text-primary]="item.checked">{{item.text}}</div>
                                &nbsp;
                                <i *ngIf="!item.children && item.text !== '' && item.checked" class="fa fa-edit" aria-hidden="true" title="Renommer" style="cursor:pointer;" data-toggle="modal" data-target="#editReq" (click)="updateReq(item)"></i>
                                <!-- <i class="fa fa-trash" aria-hidden="true" title="Remove" (click)="removeItem(item)"></i> -->
                            </label>
                        </div>
        <br *ngIf="item.children">
</ng-template>
<div class="content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header" data-background-color="purple">
                      <i class="material-icons">content_copy</i>
                  </div>
                  <div class="card-content">
                      <p class="category title">Exigences</p>
                          <small>{{reqCount()}}</small>
                  </div>
                  <div class="card-footer center-block text-center">
                        <button class="btn btn-primary" data-toggle="modal" data-target="#addFolder">Ajouter un dossier d'exigence</button>
                    </div>
                  <div class="card-footer">
                      <div class="col-12">
                            <ngx-treeview [items]="items" [itemTemplate]="itemTemplate" (selectedChange)="onSelectedChange($event)">
                                </ngx-treeview>    
                      </div>  
                  </div>
              </div>
          </div>
          <div class="col-lg-9 col-md-6 col-sm-6">
                <div *ngIf="rows.length > 0 && reqView" class="card card-nav-tabs">
                        <div class="card-header" data-background-color="purple">
                            <div class="nav-tabs-navigation">
                                <div class="nav-tabs-wrapper">
                                    <span class="nav-tabs-title">Exigence: <b>{{reqView.reqName}}</b></span>
                                    
                                    <ul class="nav nav-tabs" data-tabs="tabs">
                                        <li class="active">
                                            <a href="#profile" data-toggle="tab">
                                                <i class="material-icons">description</i> Détails
                                                <div class="ripple-container"></div>
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="#messages" data-toggle="tab">
                                                <i class="material-icons">attachment</i> Pièces jointes
                                                <div class="ripple-container"></div>
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="tab-content">
                                <div class="tab-pane active" id="profile">
                                        
                                    
                                              <div class="row">
                                                    <div class="col">
                                                            <div class="center-block text-center">
                                                                    <button class="btn btn-primary">Renommer</button>
                                                                    <button class="btn btn-default">Créer une nouvelle version</button>
                                                                    <button class="btn btn-rose">Imprimer</button>
                                                            </div>
                                                    </div>               
                                              </div>  
                                               <hr>
                                            <div class="card-body ">
                                                   
                                                    <div class="row">
                                                            
                                                                        <div class="col-lg-2 col-md-3">
                                                                            <!--
                                                                                color-classes: "nav-pills-primary", "nav-pills-info", "nav-pills-success", "nav-pills-warning","nav-pills-danger"
                                                                            -->
                                                                            <ul class="nav nav-pills nav-pills-primary nav-pills-icons flex-column" role="tablist" style="display: flex;
                                                                            flex-direction: column;">
                                                                                <li class="nav-item">
                                                                                    <a class="nav-link active" data-toggle="tab" href="#link10" role="tablist">
                                                                                        <i class="material-icons">info</i>
                                                                                        Informations générales
                                                                                    </a>
                                                                                </li>
                                                                               
                                                                                <li class="nav-item">
                                                                                        <a class="nav-link" data-toggle="tab" href="#link12" role="tablist">
                                                                                            <i class="material-icons">description</i>
                                                                                            Description
                                                                                        </a>
                                                                                    </li>
                                                                                    <li class="nav-item">
                                                                                            <a class="nav-link" data-toggle="tab" href="#link13" role="tablist">
                                                                                                <i class="material-icons">timeline</i>
                                                                                                Couverture
                                                                                            </a>
                                                                                        </li>
                                                                                        <li class="nav-item">
                                                                                                <a class="nav-link" data-toggle="tab" href="#link14" role="tablist">
                                                                                                    <i class="material-icons">link</i>
                                                                                                    Tests liés
                                                                                                </a>
                                                                                        </li>
                                                                            </ul>
                                                                        </div>
                                                                        <div class="col-md-9">
                                                                            <div class="tab-content">
                                                                                <div class="tab-pane active" id="link10">
                                                                                    Créé le : <b>{{reqView.createdAt | date: 'dd/MM/yyyy'}}</b> 
                                                                                    <br>
                                                                                    Version : <b>1</b>
                                                                                    <br>
                                                                                    Référence : <b>{{reqView.reference}}</b> 
                                                                                    <br>
                                                                                    Statut : <b>En cours de rédaction</b> 
                                                                                    <br>
                                                                                    Criticité : <b>{{reqView.critical}}</b>
                                                                                    <br>
                                                                                    Catégorie : <b>{{reqView.category}}</b>
                                                                                </div>
                                                                                
                                                                                <div class="tab-pane" id="link12">
                                                                                    {{reqView.description}}
                                                                                </div>
                                                                                <div class="tab-pane" id="link13">
                                                                                        Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas.
                                                                                        <br><br>Dramatically maintain clicks-and-mortar solutions without functional solutions.
                                                                                </div>
                                                                                <div class="tab-pane" id="link14">
                                                                                        Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas.
                                                                                        <br><br>Dramatically maintain clicks-and-mortar solutions without functional solutions.
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                            </div>
                                </div>
                                <div class="tab-pane" id="messages">
                                </div>
                            </div>
                        </div>
                    </div>
                <div *ngIf="rows.length === 0" class="text-center" style="margin-top:10%">
                    <h3>Aucune exigence sélectionnée</h3>
                </div>
          </div>
      </div>
  </div>
</div>

<!-- add Folder modal -->
<div class="modal fade" id="addFolder" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="card card-signup card-plain">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class="material-icons">clear</i>
                            </button>
              <div class="modal-header" data-background-color="purple">
                <h5 class="modal-title card-title text-center">Ajout d'un dossier d'exigences</h5>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-md-12 mr-auto">
                    <form class="form" [formGroup]="folderForm" (submit)="addFolder()">
                      <div class="card-body">
                          <div *ngIf="error" class="alert alert-danger">
                            {{error}}
                          </div>
                        <div class="form-group">
                          <div class="input-group">
                              <span class="input-group-addon">
                                  <i class="material-icons">folder</i>
                              </span>
                              <input type="text" class="form-control" formControlName="folderName" placeholder="Nom du dossier d'exigence" (keyup)="folderControl()">
                          </div>
                        </div>      
      
                      <div class="checkbox">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="" formControlName="checked">
                            <span class="form-check-sign">
                                <span class="check"></span>
                            </span>
                            <span class="text-primary">Ajouter un autre dossier d'exigences ?</span> 
                        </label>
                      </div>
                      </div>
                    <div class="modal-footer justify-content-center">
                    <button *ngIf="folderForm.valid" class="btn btn-primary btn-round">Ajouter</button>
                    </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      
<!-- add requirement modal -->
<div class="modal fade" id="addReq" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="card card-signup card-plain">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class="material-icons">clear</i>
                            </button>
              <div class="modal-header" data-background-color="purple">
                <h5 class="modal-title card-title text-center">Ajout d'une exigence</h5>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-md-12 mr-auto">
                    <form class="form" [formGroup]="reqForm">
                      <div class="card-body">
                          <div *ngIf="error" class="alert alert-danger">
                            {{error}}
                          </div>
                        <div class="form-group">
                          <div class="input-group">
                              <span class="input-group-addon">
                                  <i class="material-icons">title</i>
                              </span>
                              <input type="text" class="form-control" formControlName="reqName" placeholder="Nom de l'exigence" (keyup)="reqControl()">
                          </div>
                        </div>      
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="material-icons">trending_down</i>
                                </span>
                                <input type="text" id="ref" class="form-control" formControlName="reference" placeholder="Référence">
                            </div>  
                        </div>   
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="material-icons">priority_high</i>
                                </span>
                                <select class="form-control" formControlName="critic">
                                        <option [ngValue]="undefined" disabled  selected> Criticité de l'exigence </option>
                                        <option *ngFor="let c of critics" [ngValue]="c">{{ c }}</option>
                                </select>
                            </div>  
                        </div>         
                        <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">layers</i>
                                    </span>
                                    <select class="form-control" formControlName="category">
                                            <option [ngValue]="undefined" disabled  selected> Catégorie de l'exigence </option>
                                            <option *ngFor="let cat of categories" [ngValue]="cat">{{ cat }}</option>
                                    </select>
                                </div>  
                            </div>     
                            <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">description</i>
                                        </span>
                                        <textarea class="form-control" placeholder="Description de l'exigence" formControlName="description"></textarea>
                                    </div>  
                                </div>       
                      <div class="checkbox">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="" formControlName="checked">
                            <span class="form-check-sign">
                                <span class="check"></span>
                            </span>
                            <span class="text-primary">Ajouter une autre exigence ?</span> 
                        </label>
                      </div>
                      </div>
                    <div class="modal-footer justify-content-center">
                    <button *ngIf="reqForm.valid" (click)="addReq()" class="btn btn-primary btn-round">Ajouter</button>
                    </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
  <!-- edit requirement modal -->
<div class="modal fade" id="editReq" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="card card-signup card-plain">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="material-icons">clear</i>
                        </button>
          <div class="modal-header" data-background-color="purple">
            <h5 class="modal-title card-title text-center">Renommer l'exigence</h5>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12 mr-auto">
                <form class="form" [formGroup]="reqForm" (submit)="renameReq()">
                  <div class="card-body">
                      <div *ngIf="error" class="alert alert-danger">
                        {{error}}
                      </div>
                    <div class="form-group">
                      <div class="input-group">
                          <span class="input-group-addon">
                              <i class="material-icons">title</i>
                          </span>
                          <input type="text" class="form-control" formControlName="reqName" [value]="req && req.text" placeholder="Nom du dossier d'exigence" (keyup)="reqControl()">
                      </div>
                    </div>      
                  </div>
                <div class="modal-footer justify-content-center">
                <button *ngIf="reqForm.valid"  class="btn btn-primary btn-round">Ajouter</button>
                </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
